<div>
    <h2>{{title}}</h2>
</div>
<p>&nbsp;</p>
<div>
        <input type='text' [(ngModel)]='filteredValue' placeholder='Nom du médicament recherché'> <button>Rechercher</button> <br>
        filtré par : {{filteredValue}}
</div>
<p>&nbsp;</p>
<div>
    <table class="table table-responsive table-striped" *ngIf='medocs && medocs.length>0'>
        <thead>
            <tr>
                <th>
                    <button class="btn btn-default btn-primary" (click)='showImage()'>
                        {{ imgShow ? 'Hide' : 'Show'}} Image
                    </button>
                </th>
                <th>Nom</th>
                <th>Date achat</th>
                <th>Date Péremtion</th>
                <th>Déjà utilisé</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let medoc of medocs'>
                <td>
                    <img [src]='imgUrl' [style.width.px]='imgWidth' *ngIf='imgShow' />
                </td>
                <td>{{medoc.nom | convertToSpace:'-'}}</td>
                <td>{{medoc.dateAchat | date : 'dd/MM/yyyy hh:mm:ss'}}</td>
                <td>{{medoc.dateExpiration}}</td>
                <td><input type="checkbox" [checked]="medoc.estOuvert"/></td>
                <td>{{medoc.description}}</td>
                
            </tr>
        </tbody>
    </table>
</div>